*{
    margin:0;
    padding:0;
}
body{
 background-color: aquamarine;

}
.bot{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.graph{
  
    height: 60vmin;
    width: 60vmin;
    justify-content: center;
    align-items: center;
     display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    


    
    
}
.box{
    height: 15vmin;
    width: 15vmin;
    border-radius: 1rem;
    color:red;
    font-size: 2rem;
    background-color: blueviolet;
    border:none;
      
}

.container{
    height: 20vmin;
    padding: 1rem;;
    display: flex;
flex-direction: column;    justify-content: center;
    align-items: center;
    gap:5vmin;
}
.hide{
    display: none; 
    /* hide them */
}
.msg{
    font-size: 50px;
    color:blueviolet;


}
.newgame{
    height:15vmin;
    width: 20vmin;
    font-size: 20px;
    color: blueviolet;
    background-color: yellow;
}


.rere{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset{
   height: 9vmin;
   width: 20vmin;
   background-color: yellow;
   color: blueviolet;
   font-size: 20px;
}
